
.webcam-container {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.webcam-video {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid #4CAF50;
    box-shadow: 0 24px 24px rgba(76, 175, 80, 0.3), 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scaleX(-1);
    object-fit: cover;
}

.capture-button {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: transparent !important;
    color: white !important;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    /* box-shadow: 0 4px 8px rgba(76, 175, 80, 0.3); */
}

.capture-button:hover:not(:disabled) {
    background-color: #00ff0d2a !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.3);
}

.capture-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(76, 175, 80, 0.3);
}

.capture-button:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
    transform: none;
}